/**
             * (optional) define here the style definitions which should be applied on the slider container
             * e.g. width including further controls like arrows etc.
             */
.slider {
}

.frame {
  /**
                  * (optional) wrapper width, specifies width of the slider frame.
                  */
  width: 100vw;

  position: relative;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  display: inline-block;
}

li {
  position: relative;
  display: inline-block;

  /**
                  * (optional) if the content inside the slide element has a defined size.
                  */
  width: 100vw;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg,
.prev svg {
  width: 25px;
}

.js_slide {
  height: 50vh;
  background: #333333;
  background-size: cover;
  background-position: center;
}

ul {
  -webkit-padding-start: 0px;
}

#dot-nav > .active {
  background: #ffffff;
  color: black;
  flex: 1.5;
}

#dot-nav > li {
  flex: 1;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
  color: #ffffff;
  background: #333333;
}

#dot-nav {
  display: flex;
  height: 10vh;
  margin: 0px;
}

#intro {
  height: 40vh;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

#hero {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px !important;
}
