/**
             * (optional) define here the style definitions which should be applied on the slider container
             * e.g. width including further controls like arrows etc.
             */
.slider {
}

.frame {
  /**
                  * (optional) wrapper width, specifies width of the slider frame.
                  */
  width: 100vw;
  height: 75vh;
  position: relative;
  font-size: 24px;
  /* overflow: hidden; */
  /* white-space: nowrap; */
}

.slides {
  display: inline-block;
}

li {
  position: relative;
  display: inline-block;

  /**
                  * (optional) if the content inside the slide element has a defined size.
                  */
  width: 100vw;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg,
.prev svg {
  width: 25px;
}

#container {
  height: 140vh;
  overflow-y: hidden !important;
}

.slides {
  display: flex;
}

.js_slide {
  background: #eef0f0;
  overflow-y: scroll !important;
  flex: 1;
  min-width: 100vw;
  /* height: 74.54vh; */
  /* background: #333333; */
  background-size: cover;
  background-position: center;
}

.slide-img {
  width: 100%;
}

ul {
  -webkit-padding-start: 0px;
}

@keyframes test {
  from {
    margin-top: 0px;
  }
  to {
    /* font-size: 36px; */
    background: #eef0f0;
    flex: 1.5;
    /* margin-top: -5px; */
    /* margin-bottom: -5px; */
  }
}

#dot-nav > .active {
  /* background: #eef0f0; */
  color: black;
  flex: 1;
  font-size: 24px;
  animation-name: test;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  /* margin-top: 0px; */
}

#dot-nav > li {
  flex: 1;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
  color: #ffffff;
  background: #333333;
}

#dot-nav {
  display: flex;
  height: 10vh;
  margin: 0px;
}

#intro {
  height: 40vh;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

#hero {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  color: white;
}

.well {
  border: 0px !important;
  border-radius: 0px !important;
  /* border-top-right-radius: 0px !important; */
  height: 100%;
}

.slide-col {
  height: 100% !important;
  padding: 0px !important;
}

.description {
  /* margin-bottom: 15px; */
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin-top: 15px; */
}

.row {
  height: 100%;
}

.container-fluid {
  height: 100%;
  /* padding-left: 0px !important; */
  /* padding-right: 0px !important; */
}

.plugin-thumbnail {
  background-size: cover !important;
  max-width: 50px;
  margin: auto;
  flex: 1;
  border-radius: 10px;
  height: 50px;
}

.header {
  margin-bottom: 5px;
}

.body,
.row {
  background: #eef0f0;
}
.page-content {
  height: 100vh;
}

/* .plugin-panel { */
  /* display: flex; */
/* } */

/* .plugin-content {
  flex: 5;
} */

.list-group-item {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px !important;
}

.images {
  height: 200px;
  margin-bottom: 15px;
  width: 100vw;
  background-size: cover !important;
}

.image-wrap {
  /* border-bottom: 1px solid #000000; */
  /* margin-top: 15px; */
  margin-left: -15px;
  margin-right: -15px;
}

/* body { */
  /* overflow-y: hidden !important; */
/* } */

.plugin-title {
  /* position: relative; */
  /* top: 75%; */
  /* border-radius: 10px; */
  /* color: #eef0f0; */
  flex: 1;
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  /* text-align: center; */
  /* background: #00000093 */
}

.plugin {
  margin-top: -1px;
  margin-left: -15px;
  margin-right: -15px;
  background: #eef0f0;
  padding: 15px;
  border-top: 1px solid rgba(57, 52, 46, 0.25) !important;
  border-bottom: 1px solid rgba(57, 52, 46, 0.25) !important;
  display: flex;
  /* height: 50px; */
}
