label {
  margin-right: 10px;
  flex: 1;
  pointer-events: none;
}
/* label::before {
  pointer-events: none;
} */
.input-radio {
  height: 100%;
  pointer-events: all;
  width: 20px;
  margin-top: 0px !important;
}

.radio.radio-inline {
  width: 10vw;
}

.devices-screen.ipad-device{
  height: 190px;
  line-height: 174px;
  margin-left: 35px;
  float: left;
  position: relative;
  width: 135px;
  background: url(icons/tablet.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.devices-screen.ipad-device img{
  position: absolute;
  left: 11px;
  top: 10px;
  width: 113px;
  height: 150px;
}

.devices-screen.ipad-device .btn-delete-bg{
  position: absolute;
  top: 11px;
  right: 12px;
}

.devices-screen.ipad-device .add-icon {
  font-size: 30px;
}
.devices-screen.ipad-device label{
  position: absolute;
  line-height: initial;
  font-size: 12px;
  bottom: -23px;
  left: 0;
  right: 0;
}

.devices-screen.mobile-device{
  height: 160px;
  line-height: 153px;
  margin-left: 35px;
  float: left;
  position: relative;
  width: 80px;
  background: url("icons/mobile.png") 100% 100% no-repeat;
  background-size: 100% 100%;
}

.devices-screen.mobile-device img{
  position: absolute;
  left: 7px;
  top: 18px;
  width: 66px;
  height: 116px;
}

.devices-screen.mobile-device .btn-delete-bg{
  position: absolute;
  top: 19px;
  right: 8px;
}

.devices-screen.mobile-device .add-icon {
  font-size: 30px;
}
.devices-screen.mobile-device label{
  position: absolute;
  line-height: initial;
  font-size: 12px;
  bottom: -22px;
  left: 0;
  right: 0;
}

.thumbnail h5 {
	background: white;
	width: fit-content;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

.tab,
.toggle-group {
	display: flex;
	justify-content: flex-end;
}

.thumbnail {
	margin-bottom: 0px;
	width: 66%;
}

.tab > .thumbnail {
  margin-right: 10px;
  margin-bottom: 0px;
  height: 50px;
}

.tab > .btn {
  margin-left: 5px;
}
.d-item {
	min-height: 56px;
	padding: 8px 17px;
}

.d-item > .copy {
	position: relative;
	top: 5px;
	display: inline-block;
	/* width: 76.5%; */
	max-width: 76.5%;
}

.d-item > .media-holder {
	border-radius: 4px;
	background: #eef0f0;
	text-align: center;
	/* width: 65px; */
	height: 40px;
	line-height: 36px;
}

.d-item > .media-holder > img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	border-radius: 4px;
}

.colorgrid .color-not-selected {
	border: 1px solid #f50000;
	-ms-transform: skewY(45deg);
	-webkit-transform: skewY(45deg);
	transform: skewY(45deg);
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 10px;
}

.colorgrid .coloritem a span {
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: all .25s;
}

.colorgrid .coloritem a.img-thumbnail {
	padding: 6px;
}
.colorgrid .coloritem a {
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
}