.title {
	flex: 1 !important;
}

.delete {
	flex: 1;
	max-width: 20px !important;
}

.input-group {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tab,
.toggle-group {
	display: flex;
}

.toggle-group {
	display: flex;
	flex: 1;
}

.tab-title,
.tab-toggle {
	flex: 1;
}

.panel-title {
	font-size: 18px;
}

/* .page-panel {
	display: none;
} */

.panel-hide {
	display: none;
	animation-name: slide-out;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

.panel-show {
	display: block;
	animation-name: slide-in;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes slide-in {
	from {
		transform: translate(-100%, 0%);
	}
	to {
		transform: translate(0%, 0%);
	}
}

@keyframes slide-out {
	from {
		transform: translate(0%, 0%);
	}
	to {
		transform: translate(-100%, 0%);
	}
	/* 0% {
		display: block;

		opacity: 1;
	}
	25% {
		display: block;

		opacity: 0.75;
	}
	50% {
		display: block;

		opacity: 0.5;
	}
	75% {
		display: block;

		opacity: 0.25;
	}
	100% {
		display: none;
	} */
}

.header {
	margin-top: 0px;
	display: flex;
	position: sticky;
	top: 0px;
	background: white;
	z-index: 1000;
}

.add-new-item,
.loadAllPlugins122,
.checkbox-primary,
.labels {
	display: none;
}

.item {
	display: flex;
}

.pull-right {
	flex: 1;
}

.no-border {
	border: 0px;
	margin: 0px;
}

.backdrop {
	height: 100vh;
	width: 100vw;
	z-index: 900;
	top: 0px;
	position: fixed;
	background: #33333365;
}

.modal-wrap {
	position: fixed;
	z-index: 9000;
	width: 100vw;
	margin-left: -15px;
	height: 100vh;
	left: 0px;
	top: 0px;
}

.nodepanel {
	position: absolute;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 90vw;
	top: 25%;
	z-index: 9091;
	background: white;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.thumbnail {
	margin-bottom: 0px;
	width: 66%
}

.tag {
	margin-right: 1rem; 
}

.page-panel {
	position: fixed;
	overflow-y: overlay;
	width: 100vw;
	padding-top: 0px;
	z-index: 900;
	/* height: 100vh; */
	top: 0px;
	left: 0px;
	background: white;
	border: 1em solid #33333367;
	border-bottom: 46em solid #33333367;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.plugin-title,
.action-title {
	flex: 1;
	padding-left: 15px;
	height: 50px;
	line-height: 50px;
}
.plugins,
.actions {
	position: absolute;

	z-index: 900;
	background: rgb(255, 255, 255);
	width: 95vw;
	padding: 111px;
	height: 105vw;
	top: -200px;
	left: -14px;
}

.plugin,
.action {
	margin-top: -1px;
	margin-left: -15px;
	margin-right: -15px;
	background: #eef0f0;
	padding: 15px;
	border-top: 1px solid rgba(57, 52, 46, 0.25) !important;
	border-bottom: 1px solid rgba(57, 52, 46, 0.25) !important;
	display: flex;
}

.plugin-thumbnail,
.action-thumbnail {
	background-size: cover !important;
	max-width: 80px;
	margin: auto;
	flex: 1;
	border-radius: 10px;
	height: 80px;
}

::-webkit-scrollbar {
	display: none;
}
